- title t('.title')

.topbar
  %h2
    = t('.title')
  .links
    %ol
      <%- if action? :show -%>
      %li= link_to t('link.show'), @<%= item_path %>
      <%- end -%>
      <%- if action? :index -%>
      %li= link_to t('link.index'), <%= items_path %>
      <%- end -%>

<%= render_form %>

